name: platform

include:
  - docker/service/flatnotes.yml
  - docker/service/opentelemetry.yml

services:
  platform:
    image: titpetric/platform
    networks:
      - elastic
      - db_storage
    ports:
      - 8080:8080
    env_file: .env.docker
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=jaeger:4318

networks:
  db_storage:
    external: true
  elastic:
    driver: bridge
