name: platform

include:
  - docker/service/flatnotes.yml
  - docker/service/opentelemetry.yml

services:
  platform:
    image: titpetric/platform
    networks:
      - elastic
      - db_storage
    ports:
      - 8080:8080
    environment:
      - PLATFORM_DB_DEFAULT=mysql://platform:platform@tcp(db1:3306)/platform
      - PLATFORM_DB_USER=mysql://platform:platform@tcp(db1:3306)/platform
      - PLATFORM_ENABLE_EXPVAR=true
      - PLATFORM_ENABLE_OTEL=true
      - OTEL_SERVICE_NAME=platform
      - OTEL_EXPORTER_OTLP_ENDPOINT=jaeger:4318

networks:
  db_storage:
    external: true
  elastic:
    driver: bridge
